<h1>proveedorList</h1>
<a class="btn" href='#/cliente/create'>Nuevo</a>
<table class="table">
    <thead>
        <tr>
		
            <th>Id</th>
		
            <th>Nombre</th>
		
            <th>Apellido</th>
		
            <th>Empresa</th>
		
            <th>Email</th>
		
            <th>Telefono</th>
		
            <th>Comentarios</th>
		
            <th>Direccion</th>
		
			<th></th>
        </tr>
    </thead>
    <tbody  data-bind="foreach:items">
        <tr>
				
            <td data-bind="text:id"></td>
				
            <td data-bind="text:nombre"></td>
				
            <td data-bind="text:apellido"></td>
				
            <td data-bind="text:empresa"></td>
				
            <td data-bind="text:email"></td>
				
            <td data-bind="text:telefono"></td>
				
            <td data-bind="text:comentarios"></td>
				
            <td data-bind="text:direccion"></td>
		
            <td><a data-bind="attr:{href: '#/cliente/edit/' + id()}">Editar</a>
            &nbsp;<a href="#" data-bind="click: $parent.delete">Eliminar</a></td>
        </tr>
    </tbody>
</table>