<h1>proveedorList</h1>
<a class="btn" href='#/pedido/create'>Nuevo</a>
<table class="table">
    <thead>
        <tr>
		
            <th>Id</th>
		
            <th>Codigo</th>
		
            <th>Cliente_id</th>
		
            <th>Fecha_pedido</th>
		
            <th>Fecha_entrega</th>
		
            <th>Adelanto</th>
		
            <th>Restoabonado</th>
		
            <th>Comentarios</th>
		
            <th>Statuspedido_id</th>
		
			<th></th>
        </tr>
    </thead>
    <tbody  data-bind="foreach:items">
        <tr>
				
            <td data-bind="text:id"></td>
				
            <td data-bind="text:codigo"></td>
				
            <td data-bind="text:cliente_id"></td>
				
            <td data-bind="text:fecha_pedido"></td>
				
            <td data-bind="text:fecha_entrega"></td>
				
            <td data-bind="text:adelanto"></td>
				
            <td data-bind="text:restoabonado"></td>
				
            <td data-bind="text:comentarios"></td>
				
            <td data-bind="text:statuspedido_id"></td>
		
            <td><a data-bind="attr:{href: '#/pedido/edit/' + id()}">Editar</a>
            &nbsp;<a href="#" data-bind="click: $parent.delete">Eliminar</a></td>
        </tr>
    </tbody>
</table>