<h1>Edit <span data-bind="text: activeId"></span> </h1>
    <button class="btn btn-primary" data-bind="click:switchToDetails">Listo</button>

<% for(var i in fields) { %>
<div>
    <label>Nombre</label>
    <input data-bind="value: item.<%=fields[i].name%>" />
</div>
<% } %>
<br/>
