<h1>Editar <span data-bind="text: item.id"></span> </h1>

<div>
    <label>Pedido_id</label>
    <select data-bind="options: pedidos, optionsText: '_description', value: item.pedido_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>
<div>
    <label>Producto_id</label>
    <select data-bind="options: productos, optionsText: '_description', value: item.producto_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>
<div>
    <label>Precio_unitario</label>
    <input data-bind="value: item.precio_unitario" />
</div>
<div>
    <label>Cantidad</label>
    <input data-bind="value: item.cantidad" />
</div>

<br/><div>
    <button class="btn btn-primary" data-bind="click:save">Guardar</button>&nbsp;<a href="#/pedidoitem/list" class="btn">Cancelar</a>
</div>
