<h1>Editar <span data-bind="text: item.id"></span> </h1>

<div>
    <label>Id</label>
    <input data-bind="value: item.id" />
</div>
<div>
    <label>Numero</label>
    <input data-bind="value: item.numero" />
</div>
<div>
    <label>Proveedor_id</label>
    <select data-bind="options: proveedores, optionsText: '_description', value: item.proveedor_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>
<div>
    <label>Fecha</label>
    <input data-bind="value: item.fecha" />
</div>
<div>
    <label>Fecha_recepcion_estimada</label>
    <input data-bind="value: item.fecha_recepcion_estimada" />
</div>
<div>
    <label>Fecha_recepcion_real</label>
    <input data-bind="value: item.fecha_recepcion_real" />
</div>
<div>
    <label>Estado</label>
    <input data-bind="value: item.estado" />
</div>

<br/><div>
    <button class="btn btn-primary" data-bind="click:save">Guardar</button>&nbsp;<a href="#/ordendecompra/list" class="btn">Cancelar</a>
</div>
