<h1>Editar <span data-bind="text: item.id"></span> </h1>

<div>
    <label>Producto_id</label>
    <select data-bind="options: productos, optionsText: '_description', value: item.producto_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>
<div>
    <label>Pieza_id</label>
    <select data-bind="options: piezas, optionsText: '_description', value: item.pieza_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>
<div>
    <label>Cantidad</label>
    <input data-bind="value: item.cantidad" />
</div>

<br/><div>
    <button class="btn btn-primary" data-bind="click:save">Guardar</button>&nbsp;<a href="#/productopieza/list" class="btn">Cancelar</a>
</div>
