<h1>Editar <span data-bind="text: item.id"></span> </h1>

<div>
    <label>Codigo</label>
    <input data-bind="value: item.codigo" />
</div>
<div>
    <label>Titulo</label>
    <input data-bind="value: item.titulo" />
</div>
<div>
    <label>Descripcion</label>
    <input data-bind="value: item.descripcion" />
</div>
<div>
    <label>Precio</label>
    <input data-bind="value: item.precio" />
</div>
<div>
    <label>Statusproducto_id</label>
    <select data-bind="options: statusproductos, optionsText: '_description', value: item.statusproducto_id, optionsCaption: 'Seleccione', optionsValue: 'id'"></select>
</div>

<br/><div>
    <button class="btn btn-primary" data-bind="click:save">Guardar</button>&nbsp;<a href="#/producto/list" class="btn">Cancelar</a>
</div>
