<h1>Details <span data-bind="text: activeId"></span> </h1>
<button class="btn btn-primary" data-bind="click:switchToEdit">Editar</button>
<div>
    <label>Nombre</label>
    <p data-bind="text: item.nombre"></p>
</div>
<div>
    <label>Direccion</label>
    <p data-bind="text: item.direccion" ></p>
</div>
<div>
    <label>Telefono</label>
    <p data-bind="text: item.telefono" ></p>
</div>
<div>
    <label>Contacto</label>
    <p data-bind="text: item.contacto" ></p>
</div>
<div>
    <label>Email</label>
    <p data-bind="text: item.email" ></p>
</div>
<div>
    <label>Comentario</label>
    <p data-bind="text: item.comentario" ></p>
</div>
<div><label>Estado:</label>
    <p data-bind="selectedValue: item.statusproveedor_id, aoptions: estaticos.statusproveedor, aoptionsText: 'descripcion', aoptionsCaption: 'Seleccione', aoptionsValue: 'id'"></p>
</div>

